.transaction-form {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
}
.transaction-form label {
  display: flex;
  flex-direction: column;
}
.transaction-form button {
  padding: 0.5em 2em;
  margin-top: 1em;
}